# Project dependencies
.yarn
.cache
*.pyc
node_modules
yarn-error.log

# Build directory
/build
/dist
.DS_Store
.sass-cache/
_posts/
_site/

.mypy_cache

/.vscode
.idea

config.yaml
.venv/
.pdm-python

route.png
route.svg

# Generated assets (cached)
assets/github*.svg
assets/year*.svg
assets/grid.svg
assets/mol*.svg
PNG_OUT/*.png
src/static/activities.json

.env
